*.VC.db
*.a
*.bin
*.check_cache
*.cmake
*.dll
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.lib
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*cache
*~ml
CMakeFiles/
Tetris/nbproject/private/
MogeLib/nbproject/private/