*.VC.db
*.bin
*.bsc
*.check_cache
*.cmake
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.sbr
*.sdf
*.suo
*.tlog
*.user
*cache
*~ml
build
CMakeFiles/
Tetris/nbproject/private/
MogeLib/nbproject/private/